@import "./presets.scss";

// css reset
html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  width: 19rem;
  filter: saturate(2);
}

.btn-md {
  @include btn();
}

.btn-lg {
  @include btn($size: 2rem);
  padding: 0.5rem 3rem;
}

.hero-section {
  background: {
    image: url($hero_img);
    position: bottom -15rem right -20rem;
  }
  height: 98vh;
  border-bottom: $border-lg;
}

.hero-container {
  background: {
    image: $dark-grad;
  }
  width: 100%;
  height: 100%;
  text-align: center;
}

.hero-content {
  color: #fff;
  margin-top: 25rem;
}

.section {
  height: 80vh;
  border-bottom: $border-lg;
}

.tv-content {
  position: relative;
  transform: scale(0.9);
}

.tv-img {
  @include img-center();
  z-index: 2;
}

.tv-video {
  @include img-center();
  margin-top: -6px;
}

.container-height {
  height: 100%;
}
