@import "./presets.scss";

// css reset
html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  filter: saturate(2);
}

.btn-md {
  @include btn();
}

.btn-lg {
  @include btn();
  padding: 0.5rem 3rem;
}

.hero-section {
  background: {
    image: url($hero_img);
    position: bottom -15rem right -20rem;
  }
  border-bottom: $border-lg;
}

.hero-container {
  background: {
    image: $dark-grad;
  }
  width: 100%;
  height: 100%;
  text-align: center;
}

.section {
  // height: 80vh;
  @include section-color();
}

.faq-section {
  @include section-color();
  padding: 4rem 0;
}

.tv-img,
.device-img {
  width: 100%;
  position: relative;
}

.tv-video {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.74);
  margin-left: -2px;
  margin-top: -8px;
}

.figure {
  position: relative;
}

.device-video {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%) scale(0.64);
}

.mobile-card {
  background-color: $bg-black;
  height: 22%;
  width: 60%;
  border: $border-md;
  border-radius: 7px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.content-heading {
  font-weight: 900;
  // line-height: 6.5rem;
  margin-bottom: 2rem;
  // word-spacing: -6px;
}

.que {
  color: $text-light;
}

.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  margin: 0;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  padding: 2rem 2rem;
}

.que-div {
  background: $bg-dark;
  padding: 1rem 2rem;
  &:hover {
    background-color: $bg-light;
  }
}

.accordion-div {
  background-color: $bg-black;
  margin-bottom: 1rem;
}

.ans-div {
  background-color: $bg-light;
  margin-top: 1px;
  padding: 2rem 2rem;
}

.ans {
  color: $text-light;
}

.links {
  color: $text-gray;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
