//color presets
$primary-color: #ff1621;
$primary-color-shade: #c11119;
$border-color: #333;
$border-color-light: #555;
$bg-dark: #323232;
$bg-light: #3a3a3a;
$text-light: #fff;
$text-gray: #b3b3b3;
$bg-black: #000;

//images
$hero-img: "https://assets.nflxext.com/ffe/siteui/vlv3/2e07bc25-8b8f-4531-8e1f-7e5e33938793/e4b3c14a-684b-4fc4-b14f-2b486a4e9f4e/IN-en-20240219-popsignuptwoweeks-perspective_alpha_website_large.jpg";

//borders
$border-lg: 1rem solid $border-color;
$border-md: 2px solid $border-color-light;

//gradients

$dark-grad: linear-gradient(
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.7)
);

//mixins

@mixin btn() {
  font: {
    weight: bold;
  }
  color: #fff;

  text-transform: none;
  background: $primary-color;
  &:hover {
    background-color: $primary-color-shade;
  }
}

@mixin item-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin section-color() {
  border-bottom: $border-lg;
  background-color: #000;
}
